<?xml version="1.0" encoding="utf-8" ?>
<CSBuildConfig xsi:noNamespaceSchemaLocation="../../../../../bin/CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <options>
    <console enabled="false"/>
    <strict-references />
  </options>
  
  <projects>
    <add path="." relative-to="working-folder"/>
    <remove path="ExcludedLibrary.csproj" relative-to="none"/>
    
    <add path="SomeExe.csproj" relative-to="working-folder">
      <dependsOn path="SomeLibrary.csproj" relative-to="none"/>
    </add>

    <reference path=".\" relative-to="working-folder"/>
  </projects>
  
  <target tools="v2.0" configuration="Debug" platform="AnyCPU">
    <reference path="%SystemRoot%\Microsoft.Net\Framework\v2.0.50727\" relative-to="absolute-path"/>
    <framework version="v2.0"/>
    <output path=".\bin20" relative-to="working-folder"/>
    <intermediateFiles path=".\bin20\obj" relative-to="working-folder"/>
    <define value="FRAMEWORK20" />
    <log file=".\bin20\msbuild.txt" level="Detailed"/>
    <xml file=".\bin20\msbuild.xml" level="Normal"/>
  </target>
  <target tools="v3.5" configuration="Debug" platform="AnyCPU">
    <reference path="%SystemRoot%\Microsoft.Net\Framework\v2.0.50727\" relative-to="absolute-path"/>
    <reference path="%ProgramFiles%\Reference Assemblies\Microsoft\Framework\v3.5\" relative-to="absolute-path"/>
    <framework version="v3.5"/>
    <output path=".\bin35" relative-to="working-folder"/>
    <intermediateFiles path=".\bin35\obj" relative-to="working-folder"/>
    <define value="FRAMEWORK35" />
    <log file=".\bin35\msbuild.txt" level="Detailed"/>
    <xml file=".\bin35\msbuild.xml" level="Normal"/>
  </target>

</CSBuildConfig>
