<?xml version="1.0" encoding="utf-8" ?>
<CmdTool xsi:noNamespaceSchemaLocation="http://csharptest.net/downloads/schema/CmdTool.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <match filespec="*.resx">
    <generator debug="false">
      <execute exe=".\bin\CSharpTest.Net.Generators.exe" />
      <!--ResX -input=E:\Projects\rokserver\src\RpcLibrary\Resources.resx -namespace=CSharpTest.Net.RpcLibrary -class=Resourcessss-->
      <arg value="ResX"/>
      <arg value="-input=$(InputPath)"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-class=$(ClassName)"/>
      <arg value="-public=false"/>
      <arg value="-partial=true"/>
      <arg value="-test=true"/>
      <arg value="-rxns=$(DefaultNamespace)"/>
      
      <std-output extension=".Designer.cs"/>
    </generator>
  </match>
  <match filespec="*.proto">
    <generator debug="true">
      <execute exe="$(ConfigDir)\Depend\proto-buffers\ProtoGen.exe" />
      <!-- protoc.exe arguments -->
      <arg value="--proto_path=$(InputDir)\"/>
      <arg value="--include_imports"/>
      <arg value="$(InputPath)"/>
      <!-- protogen.exe arguments -->
      <arg value="-file_extension=.Designer.cs"/>
      <arg value="-namespace=$(Namespace)"/>
      <arg value="-umbrella_namespace=Generated"/>
      <arg value="-service_generator_type=IRPCDISPATCH"/>
      <arg value="-output_directory=$(InputDir)\"/>

      <arg value="-ignore_google_protobuf=true"/>
      <arg value="-public_classes=false"/>
      <arg value="-cls_compliance=false"/>
      <arg value="-nest_classes=false"/>

      <output extension=".Designer.cs"/>
    </generator>
  </match>
</CmdTool>