<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="CSBuildConfig" type="CSharpTest.Net.CSBuild.Config, CSBuild" />
  </configSections>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <requiredRuntime version="v4.0.30319" safemode="true"/>
  </startup>

  <CSBuildConfig xsi:noNamespaceSchemaLocation="CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <options>
      <console level="Quiet"/>
      <logfile path=".\bin40\CSBuild.log" relative-to="csbuild.exe" />
      <continue-on-error enabled="false"/>
      <no-standard-references enabled="true"/>
      <strict-references enabled="true"/>
      <force-file-references enabled="true"/>
      <save-project-changes enabled="false"/>
    </options>

    <projects>
      <add path=".\" relative-to="csbuild.exe"/>
      <reference path="depend" relative-to="csbuild.exe"/>
    </projects>

    <target tools="v4.0" group="40" configuration="Debug">
      <framework version="v4.0"/>
      <define value="NET40;-NET35;-NET20" />
      <output path=".\bin40" relative-to="csbuild.exe"/>
      <remove path=".\Tools\CSBuild\CSBuild*.csproj" relative-to="csbuild.exe"/>
      <reference path="depend\net4.0" relative-to="csbuild.exe"/>
      <reference path="depend\VStudio" relative-to="csbuild.exe"/>
      <intermediateFiles path="$(OutputPath)obj\$(AssemblyName)\" relative-to="none"/>
      <log path=".\bin40\msbuild.txt" relative-to="csbuild.exe" level="Detailed"/>
      <xml path=".\bin40\msbuild.xml" relative-to="csbuild.exe" level="Normal"/>
    </target>

  </CSBuildConfig>
</configuration>