<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="CSBuildConfig" type="CSharpTest.Net.CSBuild.Config, CSBuild" />
  </configSections>
  <CSBuildConfig xsi:noNamespaceSchemaLocation="CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <options>
      <console level="Quiet"/>
      <logfile path=".\bin\CSBuild.log" relative-to="csbuild.exe" />
    </options>

    <projects>
      <add path=".\" relative-to="csbuild.exe"/>
    </projects>

    <!--
    2.0 only installs should use:
    <target tools="v2.0">
      <framework version="v2.0"/>
      <define value="NET20;-NET35" />-->

    <target tools="v3.5">
      <framework version="v3.5"/>
      <define value="NET35;-NET20" />
      <output path=".\bin" relative-to="csbuild.exe"/>
      <intermediateFiles path="$(OutputPath)obj\$(AssemblyName)\" relative-to="none"/>
      <save-project-changes enabled="true" level="Info"/>

      <log path=".\bin\msbuild.txt" relative-to="csbuild.exe" level="Detailed"/>
      <xml path=".\bin\msbuild.xml" relative-to="csbuild.exe" level="Normal"/>
    </target>

  </CSBuildConfig>
</configuration>