<?xml version="1.0" encoding="utf-8" ?>
<CSBuildConfig xsi:noNamespaceSchemaLocation="../../../../../bin/CSBuild.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <no_taget></no_taget>
  
  <console level="Quiet"/>
  <log relative-to="csbuild.exe" path="msbuild.txt" level="Detailed"/>
  <xml relative-to="csbuild.exe" path="msbuild.xml" level="Normal"/>

</CSBuildConfig>
