<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Section1" type="CSharpTest.Net.Utils.XmlConfiguration`1[[CSharpTest.Net.Utils.Test.TestXmlConfiguration+Section1, CSharpTest.Net.Shared.Test]], CSharpTest.Net.Shared.Test" />
    <section name="Section2" type="CSharpTest.Net.Utils.XmlConfiguration`1[[CSharpTest.Net.Utils.Test.TestXmlConfiguration+Section2, CSharpTest.Net.Shared.Test]], CSharpTest.Net.Shared.Test" />
    <section name="Section3" type="CSharpTest.Net.Utils.XmlConfiguration`1[[CSharpTest.Net.Utils.Test.TestXmlConfiguration+Section3, CSharpTest.Net.Shared.Test]], CSharpTest.Net.Shared.Test" />
  </configSections>
  <Section1 id="123" value="432.1">
    <name>hello</name>
  </Section1>
  <Section2 id="123" value="432.1">
    <name>hello</name>
  </Section2>
  <Section3 id="123" value="2009-12-25">
    <name>hello</name>
  </Section3>
</configuration>
